AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
S3_BUCKET_NAME=your_bucket_name
GEMINI_API_KEY=your_api_key
FLASK_SERVER_URL=http://localhost:5001
PORT=8080












